.video-area {
   background-color: #000;
   margin-top: 1.75rem;
}

.iframe {
   max-width: var(--max-width-iframe);
   max-height: calc(var(--max-width-iframe) * 0.5625);
   width: 95%;
   height: calc(90vw * 0.5625);
}

.models-area {
   align-items: center;
   height: 100%;
}

.models-area thead tr {
   display: flex;
}

.models-area__table {
   width: 100%;
}

.table__body {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 5rem;
}

.icon-infos {
   width: 24px;
   height: 24px;
   cursor: pointer;
}

.table__body tr {
   display: flex;
   flex-direction: column;
   gap: 5rem;
}

.card-car__infos {
   display: flex;
   gap: .75rem;
   justify-content: space-evenly;
}

.car-description span {
   display: block;
   font-size: .75rem;
}

.car-description__model-name {
   color: var(--second-color);
   max-width: 170px;
   margin-bottom: .45rem;
}