@import '../../css/global/global.css';

.video {
   background-color: #000;
   margin-top: 1.75rem;
}

.video__iframe {
   max-width: var(--max-width-iframe);
   max-height: calc(var(--max-width-iframe) * 0.5625);
   width: 95%;
   height: calc(90vw * 0.5625);
}

.models__table {
   width: 100%;
}

.models__list {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 5rem;
}

.models__card-container {
   display: flex;
   min-width: 300px;
   max-width: 330px;
   padding: 5px;
   border-radius: 5px;
}


.models__card {
   width: 100%;
}

.models__card-infos {
   display: flex;
   gap: .45rem;
}

.models__description {
   margin-right: 2.5rem;
   text-align: left;
   flex: 1;
}

.models__card-infos input {
   width: 28px;
   height: 28px;
   cursor: pointer;
}

.models__name {
   color: var(--second-color);
   margin-bottom: .45rem;
}

.models__name,
.models__price {
   display: block;
   font-size: .85rem;
}

.icon-infos {
   width: 24px;
   height: 24px;
   cursor: pointer;
}

@media (max-width: 480px) {
   .models__card-image img {
      width: 240px;
   }
}