@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './reset.css';
@import './variables.css';


.page {
   height: 100dvh;
   font-family: "Poppins", serif;
   display: flex;
   flex-direction: column;
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-right: 1.5rem;
   padding-left: 1.5rem;
   max-width: 1600px;
}

.header {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   position: fixed;
   top: 0;
   width: 100%;
   padding: .85rem 0;
   z-index: 1;
   background-color: var(--white-color);
}

.header__content {
   display: flex;
   justify-content: space-between;
}

.header__logo {
   width: calc(100vw * 0.1655);
   max-width: 226px;
   min-width: 80px;
}


.header__nav {
   flex-grow: 1;
   text-align: center;
}

.header__nav-list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   height: 100%;
   color: var(--second-color);
}

.header__nav-item {
   border-bottom: 1px solid transparent;
}

.header__nav-item:hover {
   border-bottom: 1px solid var(--primary-color);
   font-weight: 600;
}

.main {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top: 135px;
   padding-bottom: 1.75rem;
   flex: 1;
}

.header__content,
.main__content,
.footer__content {
   width: 100%;
}

.button {
   background-color: var(--second-color);
   color: var(--white-color);
   padding: .65rem 1.35rem;
   border-radius: 8px;
   margin-top: 2.25rem;
   cursor: pointer;
}

.button:hover {
   background: linear-gradient(45deg, rgba(27, 53, 126, 1) 0%, rgba(15, 101, 182, 1) 100%);
   transform: scale(1.02);
}

.button:active {
   transform: scale(0.98);
}

.footer {
   background-color: var(--primary-color);
   color: var(--white-color);
   width: 100%;
}

.footer__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding-top: 0.85rem;
   padding-bottom: 0.85rem;
}

.footer__social-links {
   display: flex;
   align-items: center;
   gap: 5px;
}

.footer__social-links-list {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: .75rem;
}

.footer__social-link-item {
   border: .5px solid transparent;
   border-radius: 7px;
}

.footer__social-link-item:hover {
   transform: scale(1.10);
   border: .5px solid var(--white-color);
}

@media (max-width: 768px) {

   .header__content {
      flex-direction: column;
   }

   .header__logo {
      align-self: center;
   }

   .header__logo-image {
      height: 100%;
      width: 100%;
   }

   .header__nav {
      padding-top: 1.45rem;
   }
}


@media (max-width: 480px) {
   .footer_social-links-legend {
      font-size: 0.65rem;
   }

   .footer__social-icon {
      width: 35px;
   }

   .footer__logo-image {
      width: 60px;
   }

   .footer__social-links {
      flex-direction: column;
   }
}